<h1>Quaker Steak & Lube</h1>

<label for="editor">Journal</label>
{{chosen content=journals
         prompt="All"
         value=null
         class=""
         changeAction="filterJournals"
         optionValuePath="content"
         optionLabelPath="content"}}

{{#each image in filteredImages}}
<div id="openfig-images" class="attachment-thumbnail">
  <div class="attachment-thumbnail-image">
    <img class="preview" {{bind-attr src=image.src}} {{bind-attr alt=img.alt}}>
  </div>
  <div class="attachment-thumbnail-text-content">
    <h2 class="attachment-thumbnail-title" {{action "toggleEditState" "attachment-title-field" on="doubleClick"}}>
      <button class="button--green button-secondary" {{action addFigure image}}>Add to my figures</button>
    </h2>
    {{#if image.added}}
    <br />
    <span class="overlay-paper-link">The image has been added to your paper.</span>
    <br />
    <br />
    {{/if}}
    <br />
    {{image.title}}
    <br />
    {{image.caption}}
  </div>
</div>
{{/each}}
